body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-montserrat: Montserrat;
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-urbanist: Urbanist;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-6xl-7: 25.7px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-2xl: 21px;
  --font-size-lg-3: 18.3px;
  --font-size-4xl-5: 23.5px;
  --font-size-51xl: 70px;
  --font-size-37xl: 56px;
  --font-size-23xl: 42px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;

  /* Colors */
  --white: #fff;
  --color-gray-100: #fcfcfd;
  --color-gray-200: #1d2939;
  --color-gray-300: #171717;
  --color-gray-400: #151515;
  --color-gray-500: rgba(255, 255, 255, 0.1);
  --color-gray-600: rgba(255, 255, 255, 0.14);
  --color-coral: #fd853a;
  --color-black: #000;
  --color-chocolate: #c95208;
  --color-darkslategray-100: #344154;
  --color-whitesmoke-100: #f9fafb;
  --color-whitesmoke-200: #f2f4f7;
  --gray-200: #e4e7ec;
  --color-gainsboro-100: #d9dbde;
  --color-seashell: #fffaf5;
  --color-slategray: #667085;
  --color-darkgray: #98a2b3;
  --color-lightgray: #d0d5dd;

  /* Gaps */
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-8xs: 5px;
  --gap-3xs: 10px;
  --gap-10xs: 3px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-4xs: 9px;
  --gap-sm: 14px;
  --gap-xs: 12px;
  --gap-lg: 18px;
  --gap-xs-3: 11.3px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-6xl: 25px;
  --padding-52xl: 71px;
  --padding-xl: 20px;
  --padding-16xl: 35px;
  --padding-mini: 15px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-51xl: 70px;
  --padding-78xl: 97px;
  --padding-44xl: 63px;
  --padding-22xl: 41px;
  --padding-5xs-5: 7.5px;
  --padding-12xl: 31px;
  --padding-2xl: 21px;
  --padding-79xl: 98px;
  --padding-45xl: 64px;
  --padding-11xs-5: 1.5px;
  --padding-4xs: 9px;
  --padding-23xl: 42px;
  --padding-97xl: 116px;
  --padding-56xl: 75px;
  --padding-30xl: 49px;
  --padding-109xl: 128px;
  --padding-xs: 12px;
  --padding-8xs-8: 4.8px;
  --padding-13xl: 32px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-48xl: 67px;
  --padding-25xl: 44px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-6xs: 7px;
  --padding-mid: 17px;
  --padding-142xl: 161px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-sm: 14px;
  --br-41xl: 60px;
  --br-31xl: 50px;
  --br-38xl: 57px;
  --br-xl-7: 20.7px;
  --br-xl: 20px;
  --br-29xl: 48px;
}
